<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
 						http://www.springframework.org/schema/beans/spring-beans.xsd
       					http://www.springframework.org/schema/util
       					http://www.springframework.org/schema/util/spring-util.xsd
     					http://www.springframework.org/schema/context 
     					http://www.springframework.org/schema/context/spring-context.xsd
     					http://www.springframework.org/schema/aop 
     					http://www.springframework.org/schema/aop/spring-aop.xsd
     					http://www.springframework.org/schema/tx 
     					http://www.springframework.org/schema/tx/spring-tx.xsd">
     
     	<!-- 扫描该包下面的所有注解 -->
     	<context:component-scan base-package="com.yc"></context:component-scan> 
     	
     	<!-- 引入sql四项 -->
     	<context:property-placeholder location="classpath:db.properties"/>
     	<!-- 数据源 -->
     	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
     		<property name="user" value="${jdbc.user}"></property>
     		<property name="password" value="${jdbc.password}"></property>
     		<property name="driverClass" value="${jdbc.driverClass}"></property>
     		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
     	</bean>
     	
     	<!-- 配置spring  template -->
     	<bean id="jdbcTempLate" class="org.springframework.jdbc.core.JdbcTemplate">
     		<property name="dataSource" ref="dataSource"></property>
     	</bean>
     	
     	<!-- sqlseesionfactory -->
     	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
     		<property name="dataSource" ref="dataSource"></property>
     		<property name="mapperLocations" value="classpath:com/yc/dao/*Mapper.xml"></property>
     	</bean>
     	
     	<!-- MapperScannerConfiguer -->
     	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     		<property name="basePackage" value="com.yc.dao"></property>
     		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>     		
     	</bean>
     	
     	<!-- 配置事务管理器 -->
     	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
     		<property name="dataSource" ref="dataSource"></property>
     	</bean>
     	
     	<!-- 启用事务注解 -->
     	<tx:annotation-driven transaction-manager="transactionManager"/>
     	
     	
</beans>